In [16]:
import pandas as pd

In [21]:
url = 'https://drive.google.com/file/d/1-M1CNy5po7HpAxM1lozmDdOUc_wSn7CO/view?usp=sharing'
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
df = pd.read_csv(path)

print(df.shape)

(4005, 14)

In [20]:

import glob
import zipfile
import pandas as pd

for zip_file in glob.glob("**/csv_files/csse_covid_19_daily_reports_us/*.zip"):
    zf = zipfile.ZipFile(zip_file)
    dfs = [pd.read_csv(zf.open(f), header=None, sep=";") for f in zf.namelist()]
    df = pd.concat(dfs,ignore_index=True)
    print(df)

1

In [49]:
df_master = pd.DataFrame()
flag = False

import glob
from zipfile import ZipFile

path = r'**csv_files/csse_covid_19_daily_reports_us.zip' # use your path

#all_files = glob.glob(path + "/*.zip")
all_files = glob.glob(path)
print("all files : ", all_files)
for filename in all_files:    
    zip_file = ZipFile(filename)
    for text_file in zip_file.infolist():
        print(text_file.filename)
        if text_file.filename.endswith('.csv'):
            df = pd.read_csv(zip_file.open(text_file.filename),header=0,index_col=['UID'])
        if not flag:
            df_master = df
            flag = True
        else:
            df_master = pd.concat([df_master, df])

print(df_master.info())
print("shape of master_dataframe : ", df_master.shape)
display(df_master)

all files :  ['csv_files/csse_covid_19_daily_reports_us.zip']
01-02-2022.csv
01-06-2021.csv
01-14-2022.csv
01-05-2022.csv
01-10-2022.csv
01-13-2021.csv
01-07-2022.csv
01-03-2022.csv
01-14-2021.csv
01-07-2021.csv
01-01-2021.csv
01-04-2022.csv
01-15-2022.csv
01-10-2021.csv
01-01-2022.csv
01-11-2022.csv
01-03-2021.csv
01-08-2022.csv
01-08-2021.csv
01-09-2022.csv
01-06-2022.csv
01-05-2021.csv
01-16-2022.csv
01-23-2022.csv
01-19-2022.csv
01-20-2022.csv
01-22-2021.csv
01-19-2021.csv
01-18-2022.csv
01-25-2022.csv
01-23-2021.csv
01-20-2021.csv
01-24-2021.csv
01-25-2021.csv
01-09-2021.csv
01-24-2022.csv
01-13-2022.csv
01-18-2021.csv
01-02-2021.csv
01-17-2022.csv
01-22-2022.csv
01-11-2021.csv
01-15-2021.csv
01-21-2021.csv
01-04-2021.csv
01-16-2021.csv
01-12-2022.csv
01-21-2022.csv
01-12-2021.csv
01-17-2021.csv
<class 'pandas.core.frame.DataFrame'>
Float64Index: 2900 entries, 84000001.0 to 84000056.0
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Province_State        2900 non-null   object
 1   Country_Region        2900 non-null   object
 2   Last_Update           2900 non-null   object
 3   Lat                   2800 non-null   float64
 4   Long_                 2800 non-null   float64
 5   Confirmed             2900 non-null   int64
 6   Deaths                2900 non-null   int64
 7   Recovered             1177 non-null   float64
 8   Active                1177 non-null   float64
 9   FIPS                  2900 non-null   float64
 10  Incident_Rate         2800 non-null   float64
 11  Total_Test_Results    2800 non-null   float64
 12  People_Hospitalized   0 non-null      float64
 13  Case_Fatality_Ratio   2875 non-null   float64
 14  ISO3                  2900 non-null   object
 15  Testing_Rate          2800 non-null   float64
 16  Hospitalization_Rate  0 non-null      float64
dtypes: float64(11), int64(2), object(4)
memory usage: 407.8+ KB
None
shape of master_dataframe :  (2900, 17)

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,Total_Test_Results,People_Hospitalized,Case_Fatality_Ratio,ISO3,Testing_Rate,Hospitalization_Rate
UID,,,,,,,,,,,,,,,,,
84000001.0,Alabama,US,2022-01-03 02:33:49,32.3182,-86.9023,909541,16455,NaN,NaN,1.0,18550.003722,6562722.0,NaN,1.809154,USA,133846.102074,NaN
84000002.0,Alaska,US,2022-01-03 02:33:49,61.3707,-152.4044,157169,978,NaN,NaN,2.0,21484.529318,3685702.0,NaN,0.622260,USA,503824.371706,NaN
16.0,American Samoa,US,2022-01-03 02:33:49,-14.2710,-170.1320,10,0,NaN,NaN,60.0,17.972359,2140.0,NaN,0.000000,ASM,3846.084722,NaN
84000004.0,Arizona,US,2022-01-03 02:33:49,33.7298,-111.4312,1390409,24355,NaN,NaN,4.0,19102.391259,15679982.0,NaN,1.751643,USA,215422.333359,NaN
84000005.0,Arkansas,US,2022-01-03 02:33:49,34.9697,-92.3731,572822,9196,NaN,NaN,5.0,18981.418276,4441472.0,NaN,1.605385,USA,147175.628371,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84000051.0,Virginia,US,2021-01-18 05:30:33,37.7693,-78.1700,439305,5729,35276.0,398300.0,51.0,5146.787208,4807396.0,NaN,1.304105,USA,56322.245900,NaN
84000053.0,Washington,US,2021-01-18 05:30:33,47.4009,-121.4905,289939,3903,NaN,NaN,53.0,3807.525595,4179833.0,NaN,1.346145,USA,54890.239429,NaN
84000054.0,West Virginia,US,2021-01-18 05:30:33,38.4912,-80.9545,108821,1776,80187.0,26858.0,54.0,6072.102344,1767500.0,NaN,1.632038,USA,98624.722191,NaN
84000055.0,Wisconsin,US,2021-01-18 05:30:33,44.2685,-89.6165,568166,5906,490043.0,72217.0,55.0,9758.221390,5798072.0,NaN,1.039485,USA,99581.583922,NaN
84000056.0,Wyoming,US,2021-01-18 05:30:33,42.7560,-107.3025,49363,522,46820.0,2021.0,56.0,8529.111426,549805.0,NaN,1.057472,USA,94997.226825,NaN