In [7]:
import pandas as pd

In [8]:
url = 'https://drive.google.com/file/d/1-M1CNy5po7HpAxM1lozmDdOUc_wSn7CO/view?usp=sharing'
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
df = pd.read_csv(path)



display(df)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-01-02 05:22:33,33.939110,67.709953,52513,2201,41727,8585,Afghanistan,134.896578,4.191343
1,NaN,NaN,NaN,Albania,2021-01-02 05:22:33,41.153300,20.168300,58316,1181,33634,23501,Albania,2026.409062,2.025173
2,NaN,NaN,NaN,Algeria,2021-01-02 05:22:33,28.033900,1.659600,99897,2762,67395,29740,Algeria,227.809861,2.764848
3,NaN,NaN,NaN,Andorra,2021-01-02 05:22:33,42.506300,1.521800,8117,84,7463,570,Andorra,10505.403482,1.034865
4,NaN,NaN,NaN,Angola,2021-01-02 05:22:33,-11.202700,17.873900,17568,405,11146,6017,Angola,53.452981,2.305328
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4000,NaN,NaN,NaN,Tonga,2021-01-02 05:22:33,-21.179000,-175.198200,0,0,0,0,Tonga,0.000000,NaN
4001,NaN,NaN,NaN,Winter Olympics 2022,2021-01-02 05:22:33,39.904200,116.407400,0,0,0,0,Winter Olympics 2022,0.000000,0.000000
4002,NaN,NaN,NaN,Antarctica,2021-01-02 05:22:33,-71.949900,23.347000,0,0,0,0,Antarctica,0.000000,0.000000
4003,NaN,NaN,Jersey,United Kingdom,2021-01-02 05:22:33,49.213800,-2.135800,2739,42,0,0,"Jersey, United Kingdom",0.000000,0.000000
4004,NaN,NaN,Guernsey,United Kingdom,2021-01-02 05:22:33,49.448196,-2.589490,298,16,0,0,"Guernsey, United Kingdom",0.000000,0.000000